{% extends 'base.html.twig' %}

{% block title %}Spectacles{% endblock %}

{% block body %}


    <div class="container">
        <h1>Spectacles</h1>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('event_new') }}" class="btn lien">Nouveau spectacle</a>
        {% endif %}
        <div class="row events">
            {% for event in events %}
            <div class="card event" style="width: 18rem;">
                <img src="{{ asset('images/Spectacles/'~event.img) }}" class="card-img-top" alt="spectacle">
                <div class="card-body events">
                    <h5 class="card-title">{{ event.title }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ event.description }}</li>
                    <li class="list-group-item">{{ event.place }}</li>
                    <li class="list-group-item">{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</li>
                </ul>
                <div class="card-body">
                    <a href="{{ path('event_show', {'id': event.id}) }}" class="card-link lien">Voir</a>
                    <a href="{{ path('app_login') }}" class="card-link lien">Réserver</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
