{% extends 'base.html.twig' %}

{% block title %}Spectacles{% endblock %}

{% block body %}
    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Spectacle</th>
                <th>Type</th>
                <th>Description</th>
                <th>Place</th>
                <th>Date</th>
                <th>Img</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        <div class="card" style="width: 18rem;">
            {% for event in events %}
            <img src="..." class="card-img-top" alt="spectacle">
            <div class="card-body">
                <h5 class="card-title">{{ event.title }}</h5>
                <p class="card-text">{{ event.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ event.type }}</li>
                <li class="list-group-item">{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</li>
                <li class="list-group-item">{{ artist.name }}</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
            {% endfor %}
        </div>
        </tbody>
    </table>

    <a href="{{ path('event_new') }}">Nouveau spectacle</a>
{% endblock %}
