{% extends 'base.html.twig' %}

{% block title %}Spectacle {{ event.title }}{% endblock %}

{% block body %}
    <h1>Spectacle - {{ event.title }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th><img src="{{ asset('images/Spectacles/'~event.img) }}" class="card-img-top" alt="spectacle"></th>
            <td>{{ event.title }}
                <br>
                {{ event.description }}</td>
        </tr>
        </tbody>
    </table>
    <div>
        <a href="{{ path('event_index') }}">Liste des spectacles</a>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <div>
            <a href="{{ path('event_edit', {'id': event.id}) }}">Modifier</a>
        </div>
        <div>
            <a href="{{ include('event/_delete_form.html.twig') }}">Supprimer</a>
        </div>
    {% endif %}
{% endblock %}
