{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block body %}
    <div class="container">
        <h1>Galerie</h1>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('galerie_new') }}" class="lien">Nouvel artiste</a>
        {% endif %}
        <div class="card-group carte row">
            {% for artist in artists %}
                <div class="card col-4 galerie">
                        <img src="{{ asset('images/Artistes/'~artist.img) }}" class="card-img-top artist" alt="artiste">
                    <div class="card-body col-11 artists">
                        <h5>{{ artist.name }} - {{ artist.job }}</h5>
                        <p class="card-text">{{ artist.description }}</p>
                        <a href="{{ path('galerie_show', {'id': artist.id}) }}" class="lien">Voir</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('galerie_edit', {'id': artist.id}) }}" class="lien">Modifier</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
