
{{ form_start(form) }}
<div class="form-row form-identity">
    <div class="form-group col-12 col-md-6">
        {{ form_row(form.firstname, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group col-12 col-md-6">
        {{ form_row(form.lastname, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-group col-12">
    {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group col-12">
    {{ form_row(form.message, {'attr': {'class': 'form-control', 'rows' : '6'}}) }}
</div>
<div class="row">
    <div class="col text-center">
        <button type="submit" class="btn send-color">Envoyer</button>
    </div>
</div>
{{ form_end(form) }}