<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="{{ path('home_index') }}"><img src="/assets/img/wild_circus_logo.png" alt="wild_circus_logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item" href="{{ path('home_index') }}">Accueil</a>
            <a class="nav-item" href="{{ path('galerie_index') }}">Galerie</a>
            <a class="nav-item" href="{{ path('events_index') }}">Spectacles</a>
            <a class="nav-item" href="{{ path('contact_index') }}">Contact</a>
        </div>
    </div>
</nav>